<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Manager" />
      <allow roles="Supervisor" />
      <deny roles="User" />
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="Users.aspx">
    <system.web>
      <authorization>
        <deny users="Supervisor"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports.aspx">
    <system.web>
      <authorization>
        <deny users="Supervisor"/>
      </authorization>
    </system.web>
  </location>
</configuration>