<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=.\SQLEXPRESS;Database=dpt_se;User ID=user;Password=password" name="LocalSqlServer" />
    </connectionStrings>

</configuration>
