<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <remove name="LocalSqlServer" />
      <add connectionString="Server=(local);Database=dpt_se;User ID=sa;Password=superuser12" name="LocalSqlServer" />
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
        <membership>
          <providers>
            <clear/>
            <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
                connectionStringName="LocalSqlServer" enablePasswordRetrieval="false"
                enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
                minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
          </providers>
        </membership>
    </system.web>
</configuration>
